{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Магазин
{% endblock title %}


{% block content %}

    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Sope Page</h2>
                    <ul class="d-flex">
                        <li><a href="index">Home</a></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Page</span></li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li><span>Shop</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- shop-area start -->
    <div class="shop-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/1.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">XFX - AMD Rameon R 220 2GB DDR</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/2.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">PNY - Ventu Nvida GeForce GT 1425 Ram</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/3.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">PNY - Nvida GeForce GT 2GB DDR5</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/4.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">XFX - AMD Rameon R 220 2GB DDR</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/5.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">PNY - Ventu Nvida GeForce GT 1425 Ram</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="shop-wrap">
                        <div class="shop-img">
                            <img src="assets/images/shop/6.png" alt="">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-content">
                            <h3><a href="#">XFX - AMD Rameon R 220 2GB DDR</a></h3>
                            <ul>
                                <li class="pull-left">$550.99</li>
                                <li class="pull-right">
                                    <span>(02)</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            </ul>
                            <p>There are many variations of passages of about Lorem Ipsum available, but the majority have to suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop-area end -->


{% endblock content %}