{% load static %}
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- header-area start -->
<header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-3 col-sm-4">
                        <div class="logo">
                            <a href="/home/index"><img src="{%static '/images/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-sm-8">
                        <ul class="contact-info d-flex justify-content-end">
                            <li>
                                <span><i class="fa fa-phone"></i> +02 0120 2651 021</span>
                                <span><i class="fa fa-fax"></i> +00 425 356 4518</span>
                            </li>
                            <li>
                                <span><i class="fa fa-envelope"></i> info@youremail.com</span>
                                <span><i class="fa fa-paper-plane-o"></i> www.yourwebsite.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-12 d-none d-lg-block">
                        <ul class="social-icon d-flex justify-content-end justify-content-sm-center">
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-sm-9 d-none d-sm-block">
                        <ul class="mainmenu d-flex justify-content-end">
                            <li class="active"><a href="javascript:void(0);">Home <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="/home/index">Home Main</a></li>
                                    <li><a href="/home/index2">Home Two</a></li>
                                    <li><a href="/home/index3">Home Three</a></li>
                                </ul>
                            </li>
                            <li><a href="/home/about">about us</a></li>
                            <li><a href="javascript:void(0);">pages</a>
                                <ul>
                                    <li><a href="/home/service">Service Page</a></li>
                                    <li><a href="/home/service-details">Service Details</a></li>
                                    <li><a href="/home/shop">Shop page</a></li>
                                </ul>
                            </li>
                            <li><a href="/home/blog">blog</a>
                                <ul>
                                    <li><a href="/home/blog">Blog page</a></li>
                                    <li><a href="/home/blog-left">Blog Left</a></li>
                                    <li><a href="/home/blog-right">Blog right</a></li>
                                    <li><a href="/home/blog-details">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/home/contact">contact</a></li>
                             <li><li><a href="/accounts/sign_in">Sign in </a>



                                    </a>



                                <ul>
                                    {%  if not user.is_authenticated %}
                                        <li><a href="/accounts/sign_in">Sign in</a></li>
                                        <li><a href="/accounts/sign_up">Sign up</a></li>
                                    {% else %}
                                        <li><a href="/accounts/sign_out">sign_out</a></li>
                                        <li><a href="/accounts/profile">profile</a></li>

                                    {% endif %}
                                </ul>
                             </li>
                                <li> <a href=""> USER:
                                    {% if user.is_authenticated %}
                                        {{ user.username }}
                                    {% else %}
                                        Guest
                                    {% endif %}
                                    !
                                </a> </li>
                        </ul>

                    </div>
                    <div class="col-lg-2 col-sm-3 col-8">
                        <div class="geta_quote">
                            <a href="#">GET A QUOTE?</a>
                        </div>
                    </div>
                    <div class="d-block d-sm-none col-4 pull-right">
                        <ul class="menu">
                            <li class="first"></li>
                            <li class="second"></li>
                            <li class="third"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- responsive-menu area start -->
            <div class="responsive-menu-area d-block d-sm-none">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="metismenu">
                                <li class="sidemenu-items"><a class="has-arrow" aria-expanded="false" href="javascript:void(0);">Home</a>
                                    <ul aria-expanded="false">
                                        <li><a href="index">Home Main</a></li>
                                        <li><a href="index2">Home Two</a></li>
                                        <li><a href="index3">Home Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="about">about us</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="contact">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- responsive-menu area start -->
        </div>

    </header>
<!-- header-area end -->